# CAP IdealGuide
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models

# auto generated wildcard
db/.env
# auto generated wildcard
.env
app/add_housing/dist/*
app/myreservations/dist/*
app/see_your_housing_reservations/dist/*
resources/*
app/idealguidefe1/*
app/idealguidefe1/webapp/config.json
